a {
    text-decoration: none !important;
}

.imageParti{
    height:80px;
}

.titre {
    color: #990000;
    text-align: center;
}


.uk-grid-small {
    text-align: center;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}