a {
    text-decoration: none;
}

.titre {
    color: #990000;
    text-align: center;
}
.uk-button-text{
    color: white;
}

h3 a.titre-carte{
    font-size: 2rem;
}

.cards:hover {
    opacity: 75%;
    transition: 500ms;
}
.carte {
    margin-bottom: 1%;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: 100%;
}

.uk-grid-small {
 text-align: center;
}

.conteneur-cartes {
    width: 80%;
    margin: 0 auto;
}