.titre {
    color: #990000;
    text-align: center;
}
.uk-button-text{
    color: white;
}

h3 a.titre-carte{
    font-size: 2rem;
}

.cards:hover {
    opacity: 75%;
    transition: 500ms;
}

.logo {
    width: 100%;
}

.uk-grid-small {
 text-align: center;
}