.titre {
    color: #990000;
    text-align: center;
}

.carte {
    background-color: #990000;
    color:white;
}

.titrecarte {
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
}

.carte2 {
    background-color: #FDFFFF;
}

.titrecarte2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.4;
}

@media (max-width: 640px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }

    .uk-card-body {
        padding: 10px;
    }
}

.uk-text-lead {
    font-size: 20px;
}