@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body {
    
}

.uk-heading-large {
    color: #990000 ;
    text-align: center;
}

.text-rouge-fonce {
    color:#990000;
}

.uk-card-title-center {
    text-align: center;
}

.uk-margin-remove-top {
    text-align: center;
}

p, td, th{
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, a, b {
    font-family: 'Roboto', sans-serif !important;
}


a {
    color: #D20603;
    text-decoration: none;
}

.uk-link, a:hover {
    color: #990000;
    text-decoration: none;
}

#navbar-iframe {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
}

#footer-iframe {
    display: none;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 295px;
}

html{
    background-color: #F5F5F5;
    height: 100%;

}

main {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
}

.navbar-normal {
    display: none;
}

.navbar-mobile {
    z-index: 1000;
    width: 100%;
    position: fixed;
}

@media only screen
and (min-width: 1300px) {
    .navbar-normal {
        display: block;
        height: 80px;
    }

    .navbar-mobile {
        display: none;
    }

    main {
        padding-top: 0;
    }


    #footer-iframe {
        display: block;
    }

    .footer {
        height: 600px;
    }
}

@media (max-width: 500px) {
    .titre {
        font-size: 2rem;
    }
}

/*********************/
/****NAVBAR-MOBILE****/
/*********************/
nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #D20603;
}

.uk-navbar-toggle,
.uk-navbar-toggle:hover {
    color: white;
}

.uk-offcanvas-bar {
    background-color: #D20603;
    border-right: white solid 1px;
}

.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar .uk-nav-default > li > a:hover {
    color: white;
}

.illustration {
    height: 150px;
    width: auto;
}

.chevron-down {
    height: 100%;
    opacity: 50%;
}

.switcher-active .chevron-down {
    opacity: 100%;
    color: #D20603
  }

.switcher-active .uk-card-title {
    color: #D20603
}