a {
    text-decoration: none !important;
}


.titre {
    color: #990000;
    text-align: center;
}

.conteneur-cartes {
    width: 70%;
    margin: 0 auto;
}

.envoyer {
    background-color: #990000;
    color: white;
}

.envoyer:hover {
    background-color: #D20603;
    color: white;
}

@media (max-width: 640px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }

    .uk-card-body {
        padding: 20px;
    }
}

@media (max-width: 960px) {

    .conteneur-cartes {
        width: 100%;
        margin: 0 auto;
    }
}



